RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php?/$0 [PT,L]
php_value max_input_vars 100000
php_value suhosin.get.max_vars 100000
php_value suhosin.post.max_vars 100000
php_value suhosin.request.max_vars 100000
